@use "base/colors" as clr;
@use 'utils/mixins' as mix;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__items {
    display: flex;
    justify-content: center;
    padding-top: 116px;
    padding-bottom: 104px;

    /*
    Option 1 : Background IMG with opacity
    */
    background-image: linear-gradient(
        rgba(clr.$color-primary-500, 0.85),
        rgba(clr.$color-primary-500, 0.85)
      ),
      url(../assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;

    /*
    Option 2 : Background IMG with opacity
    */
    // &::before {
    //   content: "";
    //   background-image: url(../assets/desktop/image-footer.jpg);
    //   background-size: cover;
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   opacity: 0.145;
    // }
  }

  &__anchor {
    transform: translateY(28px);
  }

  &__heading {
    color: clr.$color-neutral-50;

    // (width,min-width,text-align)
    @include mix.text-width-align(24%, 21.875rem, left);
  }

  &__paragraph {
    color: clr.$color-neutral-50;
    margin-left: 7.8125rem;

    // (width,min-width,text-align)
    @include mix.text-width-align(24%, 21.875rem, left);
  }

  &__btn {
    align-self: center;
    margin-left: 5.75rem;
  }
}
