@use "base/colors" as clr;
@use 'utils/mixins' as mix;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__items {
    width: 100%;
    padding: 7.25rem max(1.5rem, 10vw) 6.5rem;

    display: grid;
    grid-template-columns: minmax(200px, 350px) minmax(200px, 350px) max-content;
    grid-column-gap: 5rem;
    justify-content: center;
    justify-items: left;

    /*
    Option 1 : Background IMG with opacity
    */
    background-image: linear-gradient(
        rgba(clr.$color-primary-500, 0.85),
        rgba(clr.$color-primary-500, 0.85)
      ),
      url(../assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /*
    Option 2 : Background IMG with opacity
    */
    // &::before {
    //   content: "";
    //   background-image: url(../assets/desktop/image-footer.jpg);
    //   background-size: cover;
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   opacity: 0.145;
    // }

    @include mix.respond(lg) {
      grid-template-columns: minmax(20.4375rem, 31.25rem);
      grid-template-rows: repeat(3, min-content);
      grid-row-gap: 1.5rem;
      justify-items: center;

      background-image: linear-gradient(
          rgba(clr.$color-primary-500, 0.85),
          rgba(clr.$color-primary-500, 0.85)
        ),
        url(../assets/tablet/image-footer.jpg);
    }
    @include mix.respond(sm) {
      padding-top: 5.75rem;
      padding-bottom: 4.125rem;

      background-image: linear-gradient(
          rgba(clr.$color-primary-500, 0.85),
          rgba(clr.$color-primary-500, 0.85)
        ),
        url(../assets/mobile/image-footer.jpg);
    }

    @include mix.respond(xsm) {
      padding-top: 5.75rem;
      padding-bottom: 4.5rem;
    }
  }

  &__anchor {
    transform: translateY(28px);
  }

  &__heading {
    color: clr.$color-neutral-50;
    text-align: left;
    @include mix.respond(lg) {
      text-align: center;
    }
  }

  &__paragraph {
    color: clr.$color-neutral-50;
    text-align: left;

    @include mix.respond(lg) {
      text-align: center;
    }
  }

  &__btn {
    align-self: center;
    @include mix.respond(lg) {
      align-self: start;
    }
  }
}
