@use "base/base";
@use "base/colors" as clr;
@use "base/typography" as t;
@use 'utils/mixins' as mix;
@use "components/buttons" as btn;
@use "components/section-anchor";

.header {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 4.875rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../assets/desktop/image-hero-left.png),
    url(../assets/desktop/image-hero-right.png);
  background-repeat: no-repeat;
  background-position: top 10.5625rem left -2rem, top 14rem right -2rem;

  @include mix.respond(lg) {
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 5rem;
    background-position: top 8.75rem left -2rem, top 8.75rem right -2rem;
  }

  @include mix.respond(med) {
    background-image: url(../assets/tablet/image-hero.png);
    background-position: top 140px left -26px;
    background-size: 107%;
  }

  @include mix.respond(sm) {
    margin-bottom: 4rem;
    background-position: top 140px left -20px;
    background-size: 110%;
  }

  &__logo {
    display: block;
    width: 7.4375rem;
    height: 1.75rem;
    margin-bottom: 6.75rem;

    @include mix.respond(lg) {
      margin-bottom: clamp(25rem, 60vw, 27.4375rem);
    }

    @include mix.respond(med) {
      margin-bottom: clamp(15.9375rem, 60vw, 27.4375rem);
    }

    @include mix.respond(sm) {
      margin-bottom: 25;
    }

    @include mix.respond(xsm) {
      margin-bottom: 15.9375rem;
    }
  }
  &__heading {
    margin-bottom: 2.125rem;

    width: 29vw;
    min-width: 18rem;
    text-align: center;

    @include mix.respond(lg) {
      margin-bottom: 1.5rem;
    }
  }
  &__paragraph {
    width: clamp(30rem, 35vw, 33rem);
    text-align: center;
    margin-bottom: 2rem;

    @include mix.respond(med) {
      width: 60vw;
    }
    @include mix.respond(sm) {
      width: 20.4375rem;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;

    @include mix.respond(sm) {
      flex-direction: column;
      align-items: center;

      :last-child {
        margin: 1rem 0 0;
      }
    }
  }

  &__btn:last-child {
    margin-left: 1rem;
  }
}
