@use "../base/base";
@use '../base/colors' as clr;

.btn {
  display: block;
  padding: 1em 1.8125rem;
  border-radius: 1.8125em;
  color: clr.$color-neutral-50;
  transition: background-color 0.2s;

  &--span {
    padding: 1em 2.5em;
    & span {
      margin-left: 0.25em;
    }
  }

  &--primary {
    background-color: clr.$color-primary-500;

    & span {
      color: clr.$color-primary-50;
    }

    &:hover,
    &:active {
      background-color: clr.$color-primary-100;
      & span {
        color: clr.$color-primary-50;
      }
    }
  }

  &--secondary {
    background-color: clr.$color-secondary-500;

    & span {
      color: clr.$color-secondary-50;
    }

    &:hover,
    &:active {
      background-color: clr.$color-secondary-100;
      & span {
        color: clr.$color-secondary-50;
      }
    }
  }
}
