@use 'utils/variables' as var;
@use 'utils/mixins' as mix;

.gallery {
  width: 100%;
  max-width: var.$desktop-max-width;

  padding: 0 10vw;

  display: flex;
  justify-content: center;
  list-style-type: none;

  &__item {
    width: 15.9375rem;
    height: 15.125rem;

    &:not(:last-child) {
      margin-right: 2.09vw;
    }

    @include mix.respond(lg) {
      width: 10.25rem;
      height: 9.75rem;

      &:not(:last-child) {
        margin-right: 0.6875rem;
      }
    }

    & img {
      display: block;
      width: 100%;
      border-radius: 0.5rem;
    }
  }
}
