//Brand Colors
$color-primary-500: hsl(192, 37%, 48%);
$color-primary-100: hsla(192, 54%, 64%, 1);
$color-primary-50: hsl(192, 90%, 77%);

$color-secondary-500: hsl(268, 34%, 53%);
$color-secondary-100: hsla(267, 54%, 71%, 1);
$color-secondary-50: hsla(268, 100%, 86%, 1);

//Neutral Colors
$color-neutral-700: hsl(240, 21%, 20%);
$color-neutral-300: hsl(240, 10%, 57%);
$color-neutral-50: hsl(0, 0%, 98%);
