//Brand Colors
$color-primary: hsl(192, 37%, 48%);
$color-primary-light: hsl(192, 90%, 77%);
$color-primary-lightest: hsla(192, 54%, 64%, 1);
$color-secondary: hsl(268, 34%, 53%);
$color-secondary-light: hsl(192, 90%, 77%);
$color-secondary-lightest: hsla(267, 54%, 71%, 1);

//Neutral Colors
$color-neutral-dark: hsl(240, 21%, 20%);
$color-neutral-light: hsl(240, 10%, 57%);
$color-neutral-lightest: hsl(0, 0%, 98%);
