@use "colors" as clr;
@use 'utils/mixins' as mix;

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: clamp(2.5rem, 4vw, 4rem);
  line-height: clamp(2.5rem, 4vw, 4rem);
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.75rem;

  @include mix.respond(med) {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  @include mix.respond(sm) {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: clr.$color-primary-500;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: clr.$color-neutral-300;

  @include mix.respond(med) {
    font-size: 1;
  }
}

.section-anchor {
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  color: clr.$color-neutral-300;
}

.btn {
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  text-decoration: none;
}
